.card {
    border: none;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.title_card {
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card li {
    list-style: none;
    margin: 1em;
}

.button {
    margin: 15px;
    border: none;
    padding: 0.8em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s;
    cursor: pointer;
    color: #fff;
}

.save_button {
    background-color: rgb(41, 255, 120);
    font-size: 1em;
    padding: 0.2em 0.5em;
    margin: 10px;
    border-radius: 0.5em;
    border: 2px solid transparent;
}

.close_button {
    background-color: rgb(230, 36, 36);
    font-size: 1.5em;
    padding: 0.15em 0.5em;
    margin: 0;
    border-radius: 100%;
}

li .edit_button {
    background-color: rgb(41, 109, 255);
}

li .delete_button {
    background-color: rgb(230, 36, 36);
}
li .edit_button:hover {
    box-shadow: none;
    background-color: rgb(29, 80, 190);
}

li .delete_button:hover {
    box-shadow: none;
    background-color: rgb(189, 28, 28);
}

.save_button:hover {
    box-shadow: none;
    background-color: rgb(30, 196, 94);
}

.close_button:hover {
    box-shadow: none;
    background-color: rgb(189, 28, 28);
}

.add_component_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card_recipe {
    border: 2px solid blue;
}

.card_recipe:hover {
    background-color: rgb(231, 231, 231);
}
