.add_component_container {
    background-color: red;
    flex-direction: column !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    border-radius: 5px;
    z-index: 20;
    background-image: linear-gradient(to left, #fa709a 0%, #fee140 100%);

    input {
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;        
    }

    label {
        margin: 10px;
        color: white;
        font-size: 18px !important;
    }

    h2 {
        padding: 24px 12px;
        background-color: white;
        width: 50%;
        border-radius: 15px;
        text-align: center;
    }

    button {
        margin-top: 30px;
        color: green;
        background-color: white;
        font-weight: bold;

        &:hover {
            background-color: rgb(8, 231, 8);
            color: white;
        }

        &:focus-visible {
            outline: 0px solid transparent !important;
        }
    }
}