.card_container {
    width: 1440px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
   

    &::-webkit-scrollbar {
        background: none;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #050505b2;
        border-radius: 5px;
    }

    .card {
        padding: 24px;
        // max-height: 90vh;
        background-color: white; 
        border-radius: 15px;

        .container__card_recipe {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
        }

        .card_recipe {
            min-width: 45%;
            max-width: 45%;
            border-radius: 10px;
            border: none;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            & > :nth-child(1) {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }

            & > :nth-child(2) {
                font-size: 16px;

                & > :nth-child(1) {
                    margin-bottom: 24px !important;
                }
            }

            & > :nth-child(3) {
                height: 100%;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            padding: 12px 24px 12px 24px;
            margin: 12px 0;
        }
    }

    .edit_button {
        padding: 8px 16px;
        color: white;
        background-color: #0cb490;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .container_remove_button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .delete_button {
        padding: 8px 16px !important;
        margin-left: 24px;
        color: white;
        background-color: #c54525;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        max-height: 34px;
    }

    .container__card_recipe {
        position: relative;
        width: 100%;
        display: flex;
        flex-grow: 2;
    }

    .container__idName {
        display: flex;
        justify-content: space-around;
    }

    .recipe__desc {
        margin-top: 24px !important;
    }

    .container__search {
        display: flex;
        justify-content: center;
        margin: 35px 0;

        input {
            width: 50%;
            border: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.39);
        }

        button {
            padding: 8px 16px !important;
            margin-left: 24px;
            color: white;
            background-color: #1ea2e0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            max-height: 34px;

        }

        input:focus-visible {
            outline: none !important;
            border-bottom: 2px solid black;
        }
        input:focus {
            outline: none !important;
            border-bottom: 2px solid black;
        }
    }
}
