.card__recipe {
    padding: 24px;
    border-radius: 5px;
    max-width: 600px;
    min-width: 400px;
    max-height: 720px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: rgba(38, 38, 70, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    &::-webkit-scrollbar {
        background: none;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #050505b2;
        border-radius: 5px;
    }
    
    .container__back {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .content__back {
        text-decoration: none;
        background-color: white;
        color: #212529;
        padding: 8px 16px;
        border-radius: 5px;
        transition: .5s;
        font-weight: bold;

        &:hover {
            box-shadow: rgba(26, 26, 37, 0.623) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }   

    select {
        padding: 8px 16px;
        margin-right: 24px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button__add {
        padding: 8px 16px;
        color: white;
        background-color: #0cb490;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .container__deleteelement {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button__delete {
            padding: 8px 16px !important;
            margin-left: 24px;
            color: white;
            background-color: #c54525;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            max-height: 34px;
        }

        p {
            color: white;
            letter-spacing: 0.2rem;
            outline: 2px solid black;
            padding: 6px 16px;
            max-height: 34px;
            background-color: #212529;
            border-radius: 5px;
        }

    }

    .recipe__content {
    }

    .recipe__content--h3 {


    }

    .recipe__content--name {
        border-top: 4px solid #0c76b454;
        border-bottom: 4px solid #0c76b454;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin: 36px 0;
        padding: 8px 16px;
    }

    .recipe__content--origin {

    }

    .recipe__content--description {

    }

    .recipe__content__title {

    }

    
}